/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.2.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: goldendb1
-- ------------------------------------------------------
-- Server version	12.2.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `chamber`
--

DROP TABLE IF EXISTS `chamber`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `chamber` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `machine_id` bigint(20) unsigned NOT NULL,
  `code` varchar(128) NOT NULL,
  `name` varchar(255) NOT NULL,
  `create_time` datetime NOT NULL DEFAULT current_timestamp(),
  `revise_time` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_chamber_machine_code` (`machine_id`,`code`),
  UNIQUE KEY `uq_chamber_machine_name` (`machine_id`,`name`),
  CONSTRAINT `fk_chamber_machine` FOREIGN KEY (`machine_id`) REFERENCES `machine` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chamber`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `chamber` WRITE;
/*!40000 ALTER TABLE `chamber` DISABLE KEYS */;
INSERT INTO `chamber` VALUES
(1,1,'TCENT30_CHA','CHA','2026-07-01 15:24:40','2026-07-02 07:25:30'),
(2,1,'TCENTCHB','CHB','2026-07-02 11:49:42','2026-07-02 11:49:42'),
(3,2,'TCENT32_CHA','CHA','2026-07-03 14:15:21','2026-07-03 14:15:21');
/*!40000 ALTER TABLE `chamber` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `chamber_capability`
--

DROP TABLE IF EXISTS `chamber_capability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `chamber_capability` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(128) NOT NULL,
  `label` varchar(255) NOT NULL,
  `category` enum('TECHNO','MODE','TEMPERATURE','PRESSURE','GAS_FLOW','OTHER') NOT NULL DEFAULT 'OTHER',
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `create_time` datetime NOT NULL DEFAULT current_timestamp(),
  `revise_time` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_chamber_capability_code` (`code`),
  UNIQUE KEY `uq_chamber_capability_label` (`label`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chamber_capability`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `chamber_capability` WRITE;
/*!40000 ALTER TABLE `chamber_capability` DISABLE KEYS */;
INSERT INTO `chamber_capability` VALUES
(1,'OLT','Open Loop Tunner','OTHER',1,'2026-07-02 11:16:30','2026-07-02 11:16:30'),
(2,'LPC','Lamped Pressure Controle','OTHER',1,'2026-07-03 14:14:05','2026-07-03 14:14:05');
/*!40000 ALTER TABLE `chamber_capability` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `chamber_capability_link`
--

DROP TABLE IF EXISTS `chamber_capability_link`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `chamber_capability_link` (
  `chamber_id` bigint(20) unsigned NOT NULL,
  `capability_id` bigint(20) unsigned NOT NULL,
  `create_time` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`chamber_id`,`capability_id`),
  KEY `fk_ccl_capability` (`capability_id`),
  CONSTRAINT `fk_ccl_capability` FOREIGN KEY (`capability_id`) REFERENCES `chamber_capability` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_ccl_chamber` FOREIGN KEY (`chamber_id`) REFERENCES `chamber` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chamber_capability_link`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `chamber_capability_link` WRITE;
/*!40000 ALTER TABLE `chamber_capability_link` DISABLE KEYS */;
INSERT INTO `chamber_capability_link` VALUES
(1,1,'2026-07-02 14:11:40'),
(2,1,'2026-07-02 14:03:15'),
(3,1,'2026-07-03 16:15:31');
/*!40000 ALTER TABLE `chamber_capability_link` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `chamber_configuration`
--

DROP TABLE IF EXISTS `chamber_configuration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `chamber_configuration` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `chamber_id` bigint(20) unsigned NOT NULL,
  `configuration_definition_id` bigint(20) unsigned NOT NULL,
  `code` varchar(128) NOT NULL,
  `name` varchar(255) NOT NULL,
  `nominal_value` decimal(12,3) DEFAULT NULL,
  `min_value` decimal(12,3) DEFAULT NULL,
  `max_value` decimal(12,3) DEFAULT NULL,
  `create_time` datetime NOT NULL DEFAULT current_timestamp(),
  `revise_time` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_chamber_configuration` (`chamber_id`,`configuration_definition_id`,`code`),
  KEY `fk_chamber_configuration_definition` (`configuration_definition_id`),
  CONSTRAINT `fk_chamber_configuration_chamber` FOREIGN KEY (`chamber_id`) REFERENCES `chamber` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_chamber_configuration_definition` FOREIGN KEY (`configuration_definition_id`) REFERENCES `configuration_definition` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chamber_configuration`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `chamber_configuration` WRITE;
/*!40000 ALTER TABLE `chamber_configuration` DISABLE KEYS */;
INSERT INTO `chamber_configuration` VALUES
(1,1,1,'O2HIGH','O2 HIGH',50000.000,5000.000,45000.000,'2026-07-02 07:30:00','2026-07-02 07:30:00'),
(2,2,1,'test','test',222.000,444.000,444.000,'2026-07-02 12:03:05','2026-07-02 12:03:05'),
(3,3,2,'TCRP','TCRP',950.000,950.000,950.000,'2026-07-03 14:17:07','2026-07-03 14:17:07');
/*!40000 ALTER TABLE `chamber_configuration` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `configuration_definition`
--

DROP TABLE IF EXISTS `configuration_definition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuration_definition` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(128) NOT NULL,
  `name` varchar(255) NOT NULL,
  `value_type` enum('BOOLEAN','NUMBER','ENUM','TEXT') NOT NULL DEFAULT 'NUMBER',
  `unit` varchar(64) DEFAULT NULL,
  `question_for_form` varchar(500) NOT NULL,
  `question_group` varchar(255) DEFAULT NULL,
  `display_order` int(11) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `create_time` datetime NOT NULL DEFAULT current_timestamp(),
  `revise_time` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_configuration_definition_code` (`code`),
  UNIQUE KEY `uq_configuration_definition_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuration_definition`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `configuration_definition` WRITE;
/*!40000 ALTER TABLE `configuration_definition` DISABLE KEYS */;
INSERT INTO `configuration_definition` VALUES
(1,'O2_FLOW','O2 Flow','NUMBER','sccm','Quelle est ton massflow O2','GAZPANNEL',1,1,'2026-07-01 15:28:45','2026-07-01 15:28:45'),
(2,'Temperature_TCRP','Temperature TCRP','NUMBER','degC','temp├⌐rature','Temp',0,1,'2026-07-03 14:11:11','2026-07-03 14:11:11');
/*!40000 ALTER TABLE `configuration_definition` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `decision_execution`
--

DROP TABLE IF EXISTS `decision_execution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_execution` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `result_profile_id` bigint(20) NOT NULL,
  `validated_golden_recipe_id` bigint(20) NOT NULL,
  `selected_machine_id` bigint(20) NOT NULL,
  `created_derived_recipe_id` bigint(20) DEFAULT NULL,
  `creator_id` bigint(20) NOT NULL,
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_de_result_profile_id` (`result_profile_id`),
  KEY `idx_de_validated_golden_recipe_id` (`validated_golden_recipe_id`),
  KEY `idx_de_created_derived_recipe_id` (`created_derived_recipe_id`),
  CONSTRAINT `fk_de_created_derived_recipe` FOREIGN KEY (`created_derived_recipe_id`) REFERENCES `recipe` (`id`),
  CONSTRAINT `fk_de_result_profile` FOREIGN KEY (`result_profile_id`) REFERENCES `decision_result_profile` (`id`),
  CONSTRAINT `fk_de_validated_golden_recipe` FOREIGN KEY (`validated_golden_recipe_id`) REFERENCES `recipe` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision_execution`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `decision_execution` WRITE;
/*!40000 ALTER TABLE `decision_execution` DISABLE KEYS */;
INSERT INTO `decision_execution` VALUES
(1,5,1,1,NULL,1,'2026-07-03 08:44:19.493688','2026-07-03 08:44:19.572528'),
(2,2,1,1,NULL,1,'2026-07-03 09:17:24.992128','2026-07-03 09:17:25.339932'),
(3,7,1,1,NULL,1,'2026-07-03 14:18:06.790555','2026-07-03 14:18:06.883793'),
(4,4,1,1,NULL,1,'2026-07-03 14:21:52.615136','2026-07-03 14:21:52.732708'),
(5,4,1,1,NULL,1,'2026-07-06 15:11:58.859551','2026-07-06 15:11:58.961793'),
(6,3,8,1,NULL,1,'2026-07-07 09:27:02.746574','2026-07-07 09:27:06.346358');
/*!40000 ALTER TABLE `decision_execution` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `decision_execution_answer`
--

DROP TABLE IF EXISTS `decision_execution_answer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_execution_answer` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `decision_execution_id` bigint(20) NOT NULL,
  `question_id` bigint(20) NOT NULL,
  `option_id` bigint(20) NOT NULL,
  `order_index` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_dea_execution_question` (`decision_execution_id`,`question_id`),
  KEY `idx_dea_execution_id` (`decision_execution_id`),
  KEY `idx_dea_question_id` (`question_id`),
  KEY `idx_dea_option_id` (`option_id`),
  CONSTRAINT `fk_dea_execution` FOREIGN KEY (`decision_execution_id`) REFERENCES `decision_execution` (`id`),
  CONSTRAINT `fk_dea_option` FOREIGN KEY (`option_id`) REFERENCES `decision_option` (`id`),
  CONSTRAINT `fk_dea_question` FOREIGN KEY (`question_id`) REFERENCES `decision_question` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision_execution_answer`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `decision_execution_answer` WRITE;
/*!40000 ALTER TABLE `decision_execution_answer` DISABLE KEYS */;
INSERT INTO `decision_execution_answer` VALUES
(1,1,1,1,0),
(2,1,2,4,1),
(3,1,3,6,2),
(4,1,7,12,3),
(5,2,1,1,0),
(6,2,2,3,1),
(7,2,4,8,2),
(8,3,1,1,0),
(9,3,2,4,1),
(10,3,3,6,2),
(11,3,7,13,3),
(12,4,1,1,0),
(13,4,2,4,1),
(14,4,3,5,2),
(15,4,5,10,3),
(16,5,1,1,0),
(17,5,2,4,1),
(18,5,3,5,2),
(19,5,5,10,3),
(20,6,1,1,0),
(21,6,2,4,1),
(22,6,3,5,2),
(23,6,5,9,3);
/*!40000 ALTER TABLE `decision_execution_answer` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `decision_option`
--

DROP TABLE IF EXISTS `decision_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_option` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `create_time` datetime(6) NOT NULL,
  `label` varchar(255) NOT NULL,
  `order_index` int(11) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  `value` varchar(255) NOT NULL,
  `question_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK7hgvtjno94easfew9a8o7xget` (`question_id`),
  CONSTRAINT `FK7hgvtjno94easfew9a8o7xget` FOREIGN KEY (`question_id`) REFERENCES `decision_question` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision_option`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `decision_option` WRITE;
/*!40000 ALTER TABLE `decision_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `decision_option` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `decision_question`
--

DROP TABLE IF EXISTS `decision_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_question` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `code` varchar(255) NOT NULL,
  `create_time` datetime(6) NOT NULL,
  `is_entry_point` bit(1) NOT NULL,
  `label` varchar(255) NOT NULL,
  `order_index` int(11) NOT NULL,
  `question_type` enum('BOOLEAN','INFO','SINGLE_CHOICE') NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKdvv41kl963b6wledakpa0dhb2` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision_question`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `decision_question` WRITE;
/*!40000 ALTER TABLE `decision_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `decision_question` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `decision_result_profile`
--

DROP TABLE IF EXISTS `decision_result_profile`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_result_profile` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `active` bit(1) NOT NULL,
  `code` varchar(255) NOT NULL,
  `create_time` datetime(6) NOT NULL,
  `description` text DEFAULT NULL,
  `golden_recipe_id` bigint(20) DEFAULT NULL,
  `machine_id` bigint(20) DEFAULT NULL,
  `revise_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6fkvkvml0v6dcpso96qv31sb4` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision_result_profile`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `decision_result_profile` WRITE;
/*!40000 ALTER TABLE `decision_result_profile` DISABLE KEYS */;
/*!40000 ALTER TABLE `decision_result_profile` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `decision_transition`
--

DROP TABLE IF EXISTS `decision_transition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `decision_transition` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  `current_question_id` bigint(20) NOT NULL,
  `next_question_id` bigint(20) DEFAULT NULL,
  `option_id` bigint(20) NOT NULL,
  `result_profile_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKskhemaejn6rt2sy88fksg7kom` (`current_question_id`),
  KEY `FK5qlc6cvuua6qgbwitfniox03h` (`next_question_id`),
  KEY `FKsxrmsk171ehxx4a04dp0i0rn9` (`option_id`),
  KEY `FK68omq7be64hfjajbukf5y1had` (`result_profile_id`),
  CONSTRAINT `FK5qlc6cvuua6qgbwitfniox03h` FOREIGN KEY (`next_question_id`) REFERENCES `decision_question` (`id`),
  CONSTRAINT `FK68omq7be64hfjajbukf5y1had` FOREIGN KEY (`result_profile_id`) REFERENCES `decision_result_profile` (`id`),
  CONSTRAINT `FKskhemaejn6rt2sy88fksg7kom` FOREIGN KEY (`current_question_id`) REFERENCES `decision_question` (`id`),
  CONSTRAINT `FKsxrmsk171ehxx4a04dp0i0rn9` FOREIGN KEY (`option_id`) REFERENCES `decision_option` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `decision_transition`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `decision_transition` WRITE;
/*!40000 ALTER TABLE `decision_transition` DISABLE KEYS */;
/*!40000 ALTER TABLE `decision_transition` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int(11) NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int(11) DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT current_timestamp(),
  `execution_time` int(11) NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `machine`
--

DROP TABLE IF EXISTS `machine`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(128) NOT NULL,
  `name` varchar(255) NOT NULL,
  `platform_type` enum('CENTURA','VANTAGE') NOT NULL DEFAULT 'CENTURA',
  `create_time` datetime NOT NULL DEFAULT current_timestamp(),
  `revise_time` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_machine_code` (`code`),
  UNIQUE KEY `uq_machine_name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `machine` WRITE;
/*!40000 ALTER TABLE `machine` DISABLE KEYS */;
INSERT INTO `machine` VALUES
(1,'TCENT30','TCENT30','CENTURA','2026-07-01 15:23:25','2026-07-01 15:23:25'),
(2,'TCENT32','TCENT32','CENTURA','2026-07-03 14:14:37','2026-07-03 14:14:37');
/*!40000 ALTER TABLE `machine` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `parameter_definition`
--

DROP TABLE IF EXISTS `parameter_definition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `parameter_definition` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `alias` varchar(255) NOT NULL,
  `unit` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `value_type` varchar(255) NOT NULL,
  `required_on_step` bit(1) NOT NULL,
  `step_type` varchar(16) NOT NULL DEFAULT 'STEP',
  `default_value_json` longtext DEFAULT NULL,
  `parameter_group` varchar(128) DEFAULT NULL,
  `parameter_group_order` int(11) NOT NULL DEFAULT 0,
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  `code` varchar(128) NOT NULL,
  `configuration_definition_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_parameter_definition_step_code` (`step_type`,`code`),
  UNIQUE KEY `uq_parameter_definition_step_name` (`step_type`,`name`),
  UNIQUE KEY `uq_parameter_definition_step_alias` (`step_type`,`alias`),
  KEY `idx_parameter_definition_code` (`code`),
  KEY `idx_parameter_definition_configuration_definition_id` (`configuration_definition_id`),
  KEY `idx_parameter_definition_group` (`step_type`,`parameter_group`,`parameter_group_order`,`name`),
  CONSTRAINT `fk_parameter_definition_configuration_definition` FOREIGN KEY (`configuration_definition_id`) REFERENCES `configuration_definition` (`id`) ON DELETE SET NULL,
  CONSTRAINT `chk_parameter_definition_default_json` CHECK (`default_value_json` is null or json_valid(`default_value_json`))
) ENGINE=InnoDB AUTO_INCREMENT=373 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parameter_definition`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `parameter_definition` WRITE;
/*!40000 ALTER TABLE `parameter_definition` DISABLE KEYS */;
/*!40000 ALTER TABLE `parameter_definition` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `parameter_dependency_rule`
--

DROP TABLE IF EXISTS `parameter_dependency_rule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `parameter_dependency_rule` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `source_definition_id` bigint(20) NOT NULL,
  `trigger_option_id` bigint(20) NOT NULL,
  `target_definition_id` bigint(20) NOT NULL,
  `effect` varchar(255) NOT NULL,
  `scope` varchar(255) NOT NULL,
  `priority` int(11) NOT NULL,
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  `required_source_activation_option_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_pdr_source_trigger_required_target` (`source_definition_id`,`trigger_option_id`,`required_source_activation_option_id`,`target_definition_id`),
  KEY `idx_pdr_source_definition_id` (`source_definition_id`),
  KEY `idx_pdr_trigger_option_id` (`trigger_option_id`),
  KEY `idx_pdr_target_definition_id` (`target_definition_id`),
  KEY `idx_pdr_required_source_activation_option_id` (`required_source_activation_option_id`),
  CONSTRAINT `fk_pdr_required_source_activation_option` FOREIGN KEY (`required_source_activation_option_id`) REFERENCES `parameter_option` (`id`),
  CONSTRAINT `fk_pdr_source_definition` FOREIGN KEY (`source_definition_id`) REFERENCES `parameter_definition` (`id`),
  CONSTRAINT `fk_pdr_target_definition` FOREIGN KEY (`target_definition_id`) REFERENCES `parameter_definition` (`id`),
  CONSTRAINT `fk_pdr_trigger_option` FOREIGN KEY (`trigger_option_id`) REFERENCES `parameter_option` (`id`),
  CONSTRAINT `chk_pdr_source_not_target` CHECK (`source_definition_id` <> `target_definition_id`)
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parameter_dependency_rule`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `parameter_dependency_rule` WRITE;
/*!40000 ALTER TABLE `parameter_dependency_rule` DISABLE KEYS */;
/*!40000 ALTER TABLE `parameter_dependency_rule` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_pdr_bi
BEFORE INSERT ON parameter_dependency_rule
FOR EACH ROW
BEGIN
    DECLARE v_option_definition_id BIGINT;

    SELECT po.definition_id
      INTO v_option_definition_id
      FROM parameter_option po
     WHERE po.id = NEW.trigger_option_id;

    IF v_option_definition_id IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Invalid trigger_option_id in parameter_dependency_rule.';
    END IF;

    IF v_option_definition_id <> NEW.source_definition_id THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Trigger option must belong to source definition.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_pdr_bu
BEFORE UPDATE ON parameter_dependency_rule
FOR EACH ROW
BEGIN
    DECLARE v_option_definition_id BIGINT;

    SELECT po.definition_id
      INTO v_option_definition_id
      FROM parameter_option po
     WHERE po.id = NEW.trigger_option_id;

    IF v_option_definition_id IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Invalid trigger_option_id in parameter_dependency_rule.';
    END IF;

    IF v_option_definition_id <> NEW.source_definition_id THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Trigger option must belong to source definition.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `parameter_option`
--

DROP TABLE IF EXISTS `parameter_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `parameter_option` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `definition_id` bigint(20) NOT NULL,
  `label` varchar(255) NOT NULL,
  `order_index` int(11) NOT NULL,
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  `code` varchar(128) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_po_definition_label` (`definition_id`,`label`),
  UNIQUE KEY `uq_po_definition_code` (`definition_id`,`code`),
  KEY `idx_parameter_option_definition_id` (`definition_id`),
  KEY `idx_parameter_option_definition_code` (`definition_id`,`code`),
  CONSTRAINT `fk_parameter_option_definition` FOREIGN KEY (`definition_id`) REFERENCES `parameter_definition` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=112 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `parameter_option`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `parameter_option` WRITE;
/*!40000 ALTER TABLE `parameter_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `parameter_option` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `recipe`
--

DROP TABLE IF EXISTS `recipe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `recipe_kind` varchar(255) NOT NULL,
  `parent_recipe_id` bigint(20) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `creator` bigint(20) NOT NULL,
  `revisor` bigint(20) DEFAULT NULL,
  `process_family` varchar(255) DEFAULT NULL,
  `status` varchar(255) NOT NULL,
  `version` int(11) NOT NULL,
  `frozen` bit(1) NOT NULL,
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_recipe_parent_recipe` (`parent_recipe_id`),
  CONSTRAINT `fk_recipe_parent_recipe` FOREIGN KEY (`parent_recipe_id`) REFERENCES `recipe` (`id`),
  CONSTRAINT `chk_recipe_derived_parent` CHECK (`recipe_kind` <> 'DERIVED' or `parent_recipe_id` is not null)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `recipe` WRITE;
/*!40000 ALTER TABLE `recipe` DISABLE KEYS */;
INSERT INTO `recipe` VALUES
(1,'GOLDEN',NULL,'TEST',NULL,1,NULL,'TEST','DRAFT',1,0x00,'2026-07-03 08:37:08.464356','2026-07-03 08:37:08.464356'),
(8,'GOLDEN',NULL,'GOLDEN V5 Rad ISSG Non Critique OL Manuel 5 Torr','Rebuilt from XML model and normalized definitions/groups',1,NULL,'RAD','DRAFT',1,0x00,'2026-07-06 18:03:24.509461','2026-07-06 18:03:24.509461');
/*!40000 ALTER TABLE `recipe` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `recipe_required_capability`
--

DROP TABLE IF EXISTS `recipe_required_capability`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe_required_capability` (
  `recipe_id` bigint(20) NOT NULL,
  `capability_id` bigint(20) unsigned NOT NULL,
  `create_time` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  PRIMARY KEY (`recipe_id`,`capability_id`),
  KEY `idx_rrc_capability_id` (`capability_id`),
  CONSTRAINT `fk_rrc_capability` FOREIGN KEY (`capability_id`) REFERENCES `chamber_capability` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_rrc_recipe` FOREIGN KEY (`recipe_id`) REFERENCES `recipe` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_required_capability`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `recipe_required_capability` WRITE;
/*!40000 ALTER TABLE `recipe_required_capability` DISABLE KEYS */;
INSERT INTO `recipe_required_capability` VALUES
(1,2,'2026-07-03 16:21:00.971580');
/*!40000 ALTER TABLE `recipe_required_capability` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `recipe_required_configuration`
--

DROP TABLE IF EXISTS `recipe_required_configuration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe_required_configuration` (
  `recipe_id` bigint(20) NOT NULL,
  `configuration_definition_id` bigint(20) unsigned NOT NULL,
  `create_time` datetime(6) NOT NULL DEFAULT current_timestamp(6),
  PRIMARY KEY (`recipe_id`,`configuration_definition_id`),
  KEY `idx_rrcfg_definition_id` (`configuration_definition_id`),
  CONSTRAINT `fk_rrcfg_configuration_definition` FOREIGN KEY (`configuration_definition_id`) REFERENCES `configuration_definition` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_rrcfg_recipe` FOREIGN KEY (`recipe_id`) REFERENCES `recipe` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_required_configuration`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `recipe_required_configuration` WRITE;
/*!40000 ALTER TABLE `recipe_required_configuration` DISABLE KEYS */;
INSERT INTO `recipe_required_configuration` VALUES
(1,1,'2026-07-03 16:17:29.625019');
/*!40000 ALTER TABLE `recipe_required_configuration` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `step`
--

DROP TABLE IF EXISTS `step`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `step` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `recipe_id` bigint(20) NOT NULL,
  `step_kind` varchar(255) NOT NULL,
  `order_index` int(11) NOT NULL,
  `name` varchar(255) NOT NULL,
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  `code` varchar(128) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_step_recipe_order` (`recipe_id`,`order_index`),
  UNIQUE KEY `uq_step_recipe_code` (`recipe_id`,`code`),
  KEY `idx_step_recipe_id` (`recipe_id`),
  KEY `idx_step_recipe_code` (`recipe_id`,`code`),
  CONSTRAINT `fk_step_recipe` FOREIGN KEY (`recipe_id`) REFERENCES `recipe` (`id`),
  CONSTRAINT `chk_step_kind_order` CHECK (`step_kind` = 'PRESTEP' and `order_index` = 0 or `step_kind` = 'STEP' and `order_index` >= 1)
) ENGINE=InnoDB AUTO_INCREMENT=114 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `step`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `step` WRITE;
/*!40000 ALTER TABLE `step` DISABLE KEYS */;
/*!40000 ALTER TABLE `step` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `step_parameter`
--

DROP TABLE IF EXISTS `step_parameter`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `step_parameter` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `step_id` bigint(20) NOT NULL,
  `definition_id` bigint(20) NOT NULL,
  `parent_step_parameter_id` bigint(20) DEFAULT NULL,
  `parent_order_scope` bigint(20) NOT NULL,
  `order_index` int(11) NOT NULL,
  `label_override` varchar(255) DEFAULT NULL,
  `value_json` longtext DEFAULT NULL,
  `selected_option_id` bigint(20) DEFAULT NULL,
  `activation_state` varchar(255) NOT NULL,
  `locked_by_golden` bit(1) NOT NULL,
  `user_modified` bit(1) NOT NULL DEFAULT b'0',
  `create_time` datetime(6) NOT NULL,
  `revise_time` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_sp_order_in_scope` (`step_id`,`parent_order_scope`,`order_index`),
  UNIQUE KEY `uq_sp_definition_per_scope` (`step_id`,`parent_order_scope`,`definition_id`),
  KEY `idx_step_parameter_step_id` (`step_id`),
  KEY `idx_step_parameter_definition_id` (`definition_id`),
  KEY `idx_step_parameter_parent_id` (`parent_step_parameter_id`),
  KEY `idx_step_parameter_selected_option_id` (`selected_option_id`),
  CONSTRAINT `fk_step_parameter_definition` FOREIGN KEY (`definition_id`) REFERENCES `parameter_definition` (`id`),
  CONSTRAINT `fk_step_parameter_parent` FOREIGN KEY (`parent_step_parameter_id`) REFERENCES `step_parameter` (`id`),
  CONSTRAINT `fk_step_parameter_selected_option` FOREIGN KEY (`selected_option_id`) REFERENCES `parameter_option` (`id`),
  CONSTRAINT `fk_step_parameter_step` FOREIGN KEY (`step_id`) REFERENCES `step` (`id`),
  CONSTRAINT `chk_step_parameter_value_or_option` CHECK (`value_json` is null or `selected_option_id` is null),
  CONSTRAINT `chk_step_parameter_value_json` CHECK (`value_json` is null or json_valid(`value_json`))
) ENGINE=InnoDB AUTO_INCREMENT=5498 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `step_parameter`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `step_parameter` WRITE;
/*!40000 ALTER TABLE `step_parameter` DISABLE KEYS */;
/*!40000 ALTER TABLE `step_parameter` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_step_parameter_bi
BEFORE INSERT ON step_parameter
FOR EACH ROW
BEGIN
    DECLARE v_value_type VARCHAR(32);
    DECLARE v_option_definition_id BIGINT;

    IF NEW.parent_step_parameter_id IS NULL THEN
        SET NEW.parent_order_scope = 0;
    ELSE
        SET NEW.parent_order_scope = NEW.parent_step_parameter_id;
    END IF;

    SELECT pd.value_type
      INTO v_value_type
      FROM parameter_definition pd
     WHERE pd.id = NEW.definition_id;

    IF v_value_type IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Invalid definition_id in step_parameter.';
    END IF;

    IF NEW.selected_option_id IS NOT NULL THEN
        IF v_value_type <> 'ENUM' THEN
            SIGNAL SQLSTATE '45000'
                SET MESSAGE_TEXT = 'selected_option_id is only valid for ENUM parameters.';
        END IF;

        SELECT po.definition_id
          INTO v_option_definition_id
          FROM parameter_option po
         WHERE po.id = NEW.selected_option_id;

        IF v_option_definition_id IS NULL THEN
            SIGNAL SQLSTATE '45000'
                SET MESSAGE_TEXT = 'Invalid selected_option_id in step_parameter.';
        END IF;

        IF v_option_definition_id <> NEW.definition_id THEN
            SIGNAL SQLSTATE '45000'
                SET MESSAGE_TEXT = 'selected_option_id must belong to definition_id.';
        END IF;
    END IF;

    IF NEW.value_json IS NOT NULL AND v_value_type = 'ENUM' THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'ENUM parameters must use selected_option_id, not value_json.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_uca1400_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_step_parameter_bu
BEFORE UPDATE ON step_parameter
FOR EACH ROW
BEGIN
    DECLARE v_value_type VARCHAR(32);
    DECLARE v_option_definition_id BIGINT;

    IF NEW.parent_step_parameter_id IS NULL THEN
        SET NEW.parent_order_scope = 0;
    ELSE
        SET NEW.parent_order_scope = NEW.parent_step_parameter_id;
    END IF;

    SELECT pd.value_type
      INTO v_value_type
      FROM parameter_definition pd
     WHERE pd.id = NEW.definition_id;

    IF v_value_type IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Invalid definition_id in step_parameter.';
    END IF;

    IF NEW.selected_option_id IS NOT NULL THEN
        IF v_value_type <> 'ENUM' THEN
            SIGNAL SQLSTATE '45000'
                SET MESSAGE_TEXT = 'selected_option_id is only valid for ENUM parameters.';
        END IF;

        SELECT po.definition_id
          INTO v_option_definition_id
          FROM parameter_option po
         WHERE po.id = NEW.selected_option_id;

        IF v_option_definition_id IS NULL THEN
            SIGNAL SQLSTATE '45000'
                SET MESSAGE_TEXT = 'Invalid selected_option_id in step_parameter.';
        END IF;

        IF v_option_definition_id <> NEW.definition_id THEN
            SIGNAL SQLSTATE '45000'
                SET MESSAGE_TEXT = 'selected_option_id must belong to definition_id.';
        END IF;
    END IF;

    IF NEW.value_json IS NOT NULL AND v_value_type = 'ENUM' THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'ENUM parameters must use selected_option_id, not value_json.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Dumping events for database 'goldendb1'
--

--
-- Dumping routines for database 'goldendb1'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-07-07 11:35:31
